@charset "UTF-8";


/* order_menu */
#all {
/*    width: 1600px; */
   height: 900px;
   border: 1px solid black;
   margin: 0 auto;
}

#t_menu {}

#l_menu, #c_menu, #r_menu {
   display: inline-block;
}

#l_menu {
   width: 17%;
   float: left;
}

#c_menu {
   width: 55%;
   float: left;
}

#r_menu {
   width: 28%;
}

/* tap_menu */

#menu_type {
    width: 100%; 
   background: black;
}

#menu_type .tap_menu {
   display: inline-block;
   color: #76777a;
   font-size: 20px;
   width: 44%;
/*     text-align: center; */
}

#menu_type .tap_menu:hover, #menu_type .tap_menu:active {
   display: inline-block;
   color: white;
   font-size: 20px;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 35px #ff2a00, 0 0 50px #ff2a00, 0 0 65px #ff2a00, 0 0 80px #ff2a00, 0 0 100px #ff2a00;
}

#snack {text-align: right;    margin-left: 3%;}
#liquor {text-align: left;    margin-left: 3%;}

/* center_menu */


#menu_list {
   background: white;
   width: 100%;
   height: 700px;
   overflow-y: scroll;
}

#menu_list .item {
   margin-top: 5px;
   margin-bottom: 50px;
   position: relative;
}

#menu_list  .item-img {
   position: relative;
   overflow: hidden;
}

#menu_list .item img {
   width: 100%;
   margin-top: 0px;
   top: 0px;
   left: 0px;
   position: relative;
}

#menu_list .item-name {
   width: 100%;
   text-align: center;
}

#menu_list  .item-name a {
   font-size: 22px;
   font-weight: bold;
   letter-spacing: 3px;
   color: #2d3a4b;
   text-transform: uppercase;
}

#menu_list .price {
   font-size: 18px;
   font-weight: bold;
   z-index: 9;
   display: inline-block;
   width: 100%;
   text-align: center;
   margin-top: 20px;
   color: #2d3a4b;
}

/* left_menu */
#menu {
	display: inline-block;
	background: #343a4e;
	color: #515b7b;
 	width: 100%; 
	height: 700px;
}

#menu ul {padding-top: 30px;}

#menu ul li {
	list-style: none;
	font-size: 20px;
	text-decoration: underline;
	margin: 5px;
}

#menu ul li:hover, #menu ul li:active {
/* 	list-style: none; */
	font-size: 20px;
	text-decoration: underline;
	color: white;
	text-shadow: 0 0 10px #fff,
		 0 0 20px #fff,
 		 0 0 30px #fff, 
		 0 0 40px #d1ad8f, 
		 0 0 70px #d1ad8f,
 		 0 0 80px #d1ad8f, 
 		 0 0 100px #d1ad8f, 
 		 0 0 150px #d1ad8f; 
}

/* right_menu */
#order {
	display: inline-block;
 	width: 100%; 
	height: 700px;
}

#order #order_list {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
/* 	border-bottom: 1px solid #9b9b9b; */
	margin-bottom: 1%;
}

#order_status {
	height: 60%;
	overflow-y: scroll; 
}

#pre_order {
	height: 10%;
	background: #f9f9f9;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #9b9b9b;
	color: #c3c3c3;
}

#pre_order #previous {
	float: left;
}

#pre_order #pre_price {
	float: right;
}

#now_order {
	height: 10%;
	color: #424242;
}

#now_order #now {
	float: left;
}

#now_order #now_price {
	float: right;
}

#to_order {
	height: 15%;
	color: white;
	font-weight: bold;
	font-size: 20px;
	background: #fd4520;
	text-align: center;
	line-height: 5;
}

.btn-primary {
	background: #fd4520;
	color: white;
	font-weight: bold;
	border-radius: 0;
	border: none;
}

.btn-default {
	border-radius: 0;
}