<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">
	<select id = 'select' parameterType="String" resultType="bean.MenuVo"> <!-- 리스트 검색(select) -->
		select * from menu where menu_type = #{menu_type}
	</select>
	
	<select id = 'view' parameterType = "int" resultType = 'bean.MenuVo'> <!-- view -->
		select * from menu where menu_no = #{menu_no}
	</select>
	
	<insert id="insert" parameterType = 'bean.MenuVo'>
		insert into menu values (seq_menu.nextval, #{menu_type}, #{menu_name}, #{menu_price}, #{menu_image}, 0, 'no', 'N')
	</insert>

	<update id="modify" parameterType = 'bean.MenuVo'>
		update menu set menu_name = #{menu_name}, menu_price = #{menu_price}, menu_type = #{menu_type}, menu_image = #{menu_image}
		where menu_no = #{menu_no}
	</update>
	
	<delete id="delete" parameterType = 'int'>
		delete from menu where menu_no = #{menu_no}
	</delete>
	
	<update id="today" parameterType = "int">
		update menu set menu_day = 'yes' where menu_no = #{day}
	</update>
	
	<update id="today_no" parameterType = 'int'>
		update menu set menu_day = 'no' where menu_no = #{day}
	</update>
</mapper>